body {
  font-family: 'Montserrat', sans-serif;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #2C3E50;
  padding: 10px 0px;
  border: none;
}

.navbar-default .navbar-nav > li > a{
  color: #ffff;
  padding-top: 27px;
}

/* Hover sulla navbar verde */
.navbar-default .navbar-nav > li > a:hover {
  color: #1ABC9C;
}
/* Titolo: START BOOSTRAP */
.navbar-default .navbar-brand{
  color: #ffff;
  padding-top: 20px;
  font-size: 20px;
}

.navbar > .container .navbar-brand {
  margin: 0;
}

/* NAVBAR MOBILE */
.navbar-toggle {
  color: #ffff;
}

button.navbar-toggle {
  background-color: #1ABC9C;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
}

/* TITLE */
.jumbotron, .bg-main  {
  background-color: #1ABC9C;
}

.title {
  color: #ffff;
  text-align: center;
  margin-top: 130px;
}

.title img {
  height: 240px;
  margin-bottom: 20px;
}

.fa-star {
  color: white;
  font-size: 32px;
  vertical-align: middle;
  padding: 0 5px;
}

.text {
  font-family: "Lato";
  color: #ffff;
  padding-top: 20px;
  font-size: 20px;
}

.line {
  display: inline-block;
  width: 100%;
  max-width: 90px;
  border-top: 5px solid #fff;
  border-radius: 2px;
}

/* Sezione portfolio */
#portfolio {
  margin-top: 60px;
  text-align: center;
  color: #2C3E50;
}

.line-blue {
  display: inline-block;
  width: 100%;
  max-width: 90px;
  border-top: 5px solid #2C3E50;
  border-radius: 2px;
}

.blue {
  color: #2C3E50;
  font-size: 32px;
  vertical-align: middle;
  padding: 0 5px;
}

.line-section {
  padding-top: 10px;
}

#portfolio h2 {
  font-size: 48px;
}

/* CARD */

.card img {
  border-radius: 10px;
  width: 100%;
}

.card {
  margin-top: 40px;
  width: 100%;
  height: 100%;
  padding: 0px 5%;
}


/* ABOUT */

.bg-main {
  margin-top: 100px;
}

.about {
  text-align: center;
  color: #ffff;
}

.button-download {
  margin-top: 40px;
  padding-bottom: 100px;
}

#download {
  font-family: "Lato";
  color: #ffff;
  border: 1px solid #ffff;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  text-decoration: none;
  font-style: none;
}

.fa-download {
  padding: 0 10px;
}

/* Bottone download con hover */

#download:hover {
  color: black;
  background: #ffff;
}

/* Sezione contact */

.contact {
  margin-top: 70px;
  color: #2C3E50;
  text-align: center;
}

.contact-form {
  margin-top: 30px;
  font-size: 24px;
  font-family: "Lato";
  font-weight: 400;
}

input.selection , form textarea{
border-collapse: collapse;
border: none;
outline: none;
padding-top: 20px;
padding-bottom: 20px;
}

/* Colore placeholdr input */
::placeholder{
  color: #2C3E50;
}

/* Decoration input */
textarea {
  outline: none;
  resize: none;
}

input#send {
  font-size: 20px;
  font-family: "Lato";
  margin-top: 10px;
  padding: 15px 30px;
  color: white;
  background: #1ABC9C;
  border: none;
  border-radius: 10px;
}

/* Footer */
.date-footer {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
  background: #2C3E50;
  color: #ffff;
}

.place, .network, .freelance {
  padding-top: 100px;
}

.social {
  color: #ffff;
  font-size: 20px;
}

ul.media {
  padding-right: 40px;
}

ul.media li {
  display: inline-block;
  border: 1px solid #ffff;
  border-radius: 50%;
  padding: 10px 11px;
  margin: 0 5px;
}

#green {
  color: #1ABC9C;
}

.bg-credits {
  background-color: #1A252F;
  padding: 20px 0;
  text-align: center;
  color: #ffff;
  font-family: "Lato";
}


/* TODO: MEDIAQUERY LARGHEZZA NAV PER DIPOSITIVI */
