.bg-nav {
  background-color: #2C3E50;
}

.navbar-header {
  padding: 10px 0;
}

.navbar-default .navbar-nav > li > a{
  color: #ffff;
  padding-top: 27px;
}

/* Titolo: START BOOSTRAP */
.navbar-default .navbar-brand{
  color: #ffff;
  font-size: 2rem;
  padding-top: 20px;
}

/* NAVBAR MOBILE */
.navbar-toggle {
  color: #ffff;
}

button.navbar-toggle {
  background-color: #1ABC9C;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
}

/* JUMBOTRON */
