body {
  font-family: 'Montserrat', sans-serif;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bg-nav {
  background-color: #2C3E50;
}

.navbar-header {
  padding: 10px 0;
}

.navbar-default .navbar-nav > li > a{
  color: #ffff;
  padding-top: 27px;
}

/* Hover sulla navbar verde */
.navbar-default .navbar-nav > li > a:hover {
  color: #1ABC9C;
}
/* Titolo: START BOOSTRAP */
.navbar-default .navbar-brand{
  color: #ffff;
  font-size: 2rem;
  padding-top: 20px;
}

/* NAVBAR MOBILE */
.navbar-toggle {
  color: #ffff;
}

button.navbar-toggle {
  background-color: #1ABC9C;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
}

/* TITLE */
.bg-header {
  background-color: #1ABC9C;
}

.title {
  color: #ffff;
  text-align: center;
  margin-top: 200px;
}

h1 {
  font-size: 44px;
}

.title img {
  height: 240px;
  margin-bottom: 20px;
}

.fa-star {
  color: white;
  font-size: 32px;
  vertical-align: middle;
  padding: 0 5px;
}

.line-section {
  text-align: center;
}

#text {
  font-family: "Lato";
  color: #ffff;
  padding-top: 20px;
  font-size: 20px;
}

.line {
  display: inline-block;
  width: 110px;
  border-top: 5px solid #fff;
  border-radius: 2px;
}
